/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.footer {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
    font-size: smaller;
    color: #ddd;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


